{% extends "base.html" %}
{% block content %}
    <div style="border-top: 2px  dashed;
                border-bottom: 2px dashed;
                padding: 20px;
                max-width: 400px">
        <h3>Forgot your password?</h3>
        <form>
            <div>
                <label for="email">Enter your email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <br>
            <button type="submit">Reset Password</button>
        </form>
        <p>
            Remembered your password? <a href="{% url 'users:login' %}">Login here</a>
        </p>
    </div>
{% endblock content %}
