{% extends "base.html" %}
{% block content %}
  <div style="border-top: 2px  dashed;
              border-bottom: 2px dashed;
              padding: 20px;
              max-width: 400px">
    <h3>Login with your credentials</h3>
    {% if messages %}
      {% for message in messages %}<div style="color: {{ message.tags }};" role="alert">{{ message|safe }}</div>{% endfor %}
      <br />
    {% endif %}
    <form method="post" novalidate>
      {% csrf_token %}
      <div>
        <label for="{{ form.email.id_for_label }}">{{ form.email.label_tag }}</label>
        {{ form.email }}
        <br />
        {% if form.email.errors %}
          <small style="color: red;">
            {% for error in form.email.errors %}{{ error }}{% endfor %}
          </small>
        {% endif %}
      </div>
      <br />
      <div>
        <label for="{{ form.password.id_for_label }}">{{ form.password.label_tag }}</label>
        {{ form.password }}
        <br />
        {% if form.password.errors %}
          <small style="color: red;">
            {% for error in form.password.errors %}{{ error }}{% endfor %}
          </small>
        {% endif %}
      </div>
      <br />
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
    <p>
      <a href="{% url 'users:forgot-password' %}">Forgot Password?</a>
    </p>
    <p>
      Not registered?
      <a href="{% url 'users:register' %}" style="text-decoration: none;">Create an account</a>
    </p>
  </div>
{% endblock content %}
