{% extends "base.html" %}
{% block content %}
    <div style="border-top: 2px  dashed;
                border-bottom: 2px dashed;
                padding: 20px;
                max-width: 400px">
        <h3>Reset password</h3>
        {% if messages %}
            {% for message in messages %}<div style="color: {{ message.tags }};" role="alert">{{ message|safe }}</div>{% endfor %}
            <br />
        {% endif %}
        <form method="post" novalidate>
            {% csrf_token %}
            <div>
                <label for="{{ form.email.id_for_label }}">{{ form.email.label_tag }}</label>
                {{ form.email }}
                <br />
                {% if form.email.errors %}
                    <small style="color: red;">
                        {% for error in form.email.errors %}{{ error }}{% endfor %}
                    </small>
                {% endif %}
            </div>
            <br>
            <button type="submit">Reset Password</button>
        </form>
        <p>
            Remembered your password? <a href="{% url 'users:login' %} ">Login here</a>
        </p>
    </div>
{% endblock content %}
{% block script %}
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        const inputEmail = document.getElementById("id_email")
        inputEmail.setAttribute("placeholder", "Enter your email")
    });
    </script>
{% endblock script %}
