{% extends "base.html" %}
{% block content %}
    <div style="border-top: 2px  dashed;
                border-bottom: 2px dashed;
                padding: 20px;
                max-width: 400px">
        <h3>Set your new password</h3>
        {% if messages %}
            {% for message in messages %}<div style="color: {{ message.tags }};" role="alert">{{ message|safe }}</div>{% endfor %}
            <br />
        {% endif %}
        {% if validlink %}
            <form method="post">
                {% csrf_token %}
                <div>
                    <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label_tag }}</label>
                    {{ form.new_password1 }}
                    <br />
                    {% if form.new_password1.errors %}
                        <small style="color: red;">
                            {% for error in form.new_password1.errors %}{{ error }}{% endfor %}
                        </small>
                    {% endif %}
                </div>
                <br>
                <div>
                    <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label_tag }}</label>
                    {{ form.new_password2 }}
                    <br />
                    {% if form.new_password2.errors %}
                        <small style="color: red;">
                            {% for error in form.new_password2.errors %}{{ error }}{% endfor %}
                        </small>
                    {% endif %}
                </div>
                <br>
                <button type="submit">Set New Password</button>
            </form>
        {% else %}
            <p>
                Password reset link
                is invalid, probably because it has already been used. Please request a new password reset link.
            </p>
        {% endif %}
        <p>
            Back to <a href="{% url 'users:login' %}">Login</a>
        </p>
    </div>
{% endblock content %}
