{% extends "base.html" %}
{% block content %}
    <div style="border-top: 2px  dashed;
                border-bottom: 2px dashed;
                padding: 20px;
                max-width: 400px">
        <h3>Password reset has been sent</h3>
        <p>
            We have sent you instructions via email to reset your password, if an account with the email address you entered already exists, you should receive them shortly.
        </p>
        <p>
            If you don't receive an email, make sure you entered the address you registered with, and check your spam folder.
        </p>
        <br />
        <p>
            Back to <a href="{% url 'users:login' %}">Login</a>
        </p>
    </div>
{% endblock content %}
