{% extends "base.html" %}
{% block content %}
    <div style="border-top: 2px  dashed;
                border-bottom: 2px dashed;
                padding: 20px;
                max-width: 400px">
        <h3>Password Reset Successful</h3>
        <p>Your password has been successfully reset.</p>
        <p>You can now log in to your account using your new password.</p>
        <br />
        <p>
            Go to <a href="{% url 'users:login' %}">Login</a>
        </p>
    </div>
{% endblock content %}
