{% extends "base.html" %}
{% block content %}
    <div style="border-top: 2px  dashed;
                border-bottom: 2px dashed;
                padding: 20px;
                max-width: 400px">
        <h3>Set your new password</h3>
        <form>
            <div>
                <label for="new_password">New Password:</label>
                <input type="password" id="new_password" name="new_password" required>
            </div>
            <br>
            <div>
                <label for="confirm_new_password">Confirm New Password:</label>
                <input type="password"
                       id="confirm_new_password"
                       name="confirm_new_password"
                       required>
            </div>
            <br>
            <button type="submit">Set New Password</button>
        </form>
        <p>
            Back to <a href="{% url 'users:login' %}">Login</a>
        </p>
    </div>
{% endblock content %}
