{% extends "base.html" %}
{% block content %}
    <div style="border-top: 2px  dashed;
                border-bottom: 2px dashed;
                padding: 20px;
                max-width: 400px">
        <h3>Your Profile</h3>
        <form>
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value="John Doe" required>
            </div>
            <br>
            <div>
                <label for="email">Email:</label>
                <input type="email"
                       id="email"
                       name="email"
                       value="johndoe@example.com"
                       required>
            </div>
            <br>
            <div>
                <label for="phone">Phone:</label>
                <input type="tel" id="phone" name="phone" value="123-456-7890">
            </div>
            <br>
            <button type="submit">Update Profile</button>
        </form>
        <p>
            Want to change your password? <a href="{% url 'users:change-password' %}">Change Password</a>
        </p>
        <p>
            <a href="{% url 'users:login' %}">Logout</a>
        </p>
    </div>
{% endblock content %}
